<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to connect citizens of India to Municipality offices directly so that people can be provided with the facility of registering any complaints regarding any matter and to spread awareness of Society Welfare Drives..</h4>
</div>